<html layout:decorate="~{/community/boardSkin}">

<body>
<div layout:fragment="boardSkinFragment">
<div class="table-container">
    <div class="comm-title">
        C언어 커뮤니티당
    </div>
    <div>
        <a th:href="@{|/board/C/write|}" class="btn">글쓰기</a>
    </div>
        <table>
            <thead>
            <tr>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(CPostList)}">
                <td colspan="3" th:text="#{NotFoundPost}"></td>
            </tr>
            <tr th:each = "post : ${CPostList}" th:unless="${#lists.isEmpty(CPostList)}">
                <td>
                    <div class="post-meta">
                        <span class="post-author" th:text="${post.pAuthorNickname}"></span>
                        <span class="post-date" th:text="${post.pCreateDate}"></span>
                    </div>
                    <div class="post-title">
                        <a th:href="@{|/board/${post.boardName}/detail/${post.pId}|}"
                           th:text="${post.pSubject}"></a>
                    </div>                </td>
                <td>
                    <div class="post-sub-info">
                        조회수 100 | 좋아요 120 | 댓글 5
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>