
<html layout:decorate="~{/community/boardSkin}">

<body>
<div layout:fragment="boardSkinFragment">
    <div class="comm-title" id="comm-main-title">
    커뮤니티
    </div>
    <div class="main-grid" id="community-board-box">
        <div class="board-section">
            <a class="board-title" th:href="@{/community/java}">JAVA 커뮤니티</a>
            <div class="board-posts">
                <ul>
                    <li th:if="${#lists.isEmpty(JAVALatestPostList)}">
                        아무고토없음
                    </li>
                    <li th:each="post : ${JAVALatestPostList}">
                        <a th:href="@{|/board/${post.boardName}/detail/${post.pId}|}" th:text="${post.pSubject}">Post Title</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="board-section">
            <a class="board-title" th:href="@{/community/c}">C 커뮤니티</a>
            <div class="board-posts">
                <ul>
                    <li th:if="${#lists.isEmpty(CLatestPostList)}">
                        아무고토없음
                    </li>
                    <li th:each="post : ${CLatestPostList}">
                        <a th:href="@{/}" th:text="${post.pSubject}">Post Title</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="board-section">
            <a class="board-title" th:href="@{/community/python}">Python 커뮤니티</a>
            <div class="board-posts">
                <ul>
                    <li th:if="${#lists.isEmpty(PYTHONLatestPostList)}">
                        아무고토없음
                    </li>
                    <li th:each="post : ${PYTHONLatestPostList}">
                        <a th:href="@{/}" th:text="${post.pSubject}">Post Title</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="board-section">
            <a class="board-title" th:href="@{/notice}">JS 커뮤니티</a>
            <div class="board-posts">
                <a th:href="@{/notice}">커뮤니티 게시글1</a>
                <a th:href="@{/notice}">커뮤니티 게시글2</a>
                <a th:href="@{/notice}">커뮤니티 게시글3</a>
                <a th:href="@{/notice}">커뮤니티 게시글4</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>
