<html layout:decorate="~{/community/boardSkin}">

    <body>
    <div layout:fragment="boardSkinFragment">
        <div>
    JAVA 커뮤니티당
        </div>
<!--    [[${JAVAPostList}]]-->
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(JAVAPostList)}">
            <td colspan="3" th:text="#{NotFoundPost}"></td>
        </tr>
            <tr th:each = "post : ${JAVAPostList}" th:unless="${#lists.isEmpty(JAVAPostList)}">
                <td>
                    <a th:href="@{|/board/${post.boardName}/detail/${post.pId}|}"
                       th:text="${post.pSubject}"></a></td>
                <td th:text="${post.pCreateDate}"></td>
                <td th:text="${post.pAuthorNickname}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    </body>
</html>