<html layout:decorate="~{/community/boardSkin}">

    <body>
    <div layout:fragment="boardSkinFragment">
<div>
    Python 커뮤니티당
</div>
        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(PythonPostList)}">
                <td colspan="3" th:text="#{NotFoundPost}"></td>
            </tr>
            <tr th:each = "post : ${PythonPostList}" th:unless="${#lists.isEmpty(PythonPostList)}">
                <td th:text="${post.pSubject}"></td>
                <td th:text="${post.pCreateDate}"></td>
                <td th:text="${post.pAuthorNickname}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    </body>
</html>